{{#*inline "content"}}

<section class="display" style="min-height: calc(100vh - 80px);">
    <div class="display-image">
        {{#if author.cover}}
        <img src="{{author.cover}}" class="shadow" alt="{{author.title}}"
            title="{{author.series}} - {{author.title}} - {{author.author}}">
        {{else}}
        <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="shadow"
            alt="{{author.title}}">
        {{/if}}
    </div>
    <div class="display-info">
        <h1>{{author.name}}</h1>
        {{> components/books_grid}}
        {{> components/series_grid}}
    </div>
</section>

<div class="background">

</div>

{{/inline}}
{{> components/page}}