<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LibraAlchemy</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Azalurg/public/main/images/icon.ico">

    {{> style}}
</head>

<body>
    <navbar class="shadow">
        <div style="font-size: 1.5rem;">
            LibraAlchemy
        </div>
    </navbar>

    <section class="card">
        <h1>LibraAlchemy</h1>
        <p>Craft your private audio library with open-source magic. Curate,
            personalize, and transmute your collection offline, powered by alchemy.</p>
        <div class="btn-group">
            <button class="btn active" onclick="showGrid(1); activeButton(1)" id="button1">Books</button>
            <button class="btn" onclick="showGrid(2); activeButton(2)" id="button2">Authors</button>
            <button class="btn" onclick="showGrid(3); activeButton(3)" id="button3">Series</button>
        </div>
    </section>

    <section style="margin-top: 4rem;">
        <div class="container grid-container visible" id="grid1">
            <h3>Books ({{books_amount}})</h3>
            <ul class="lib">
                {{#each books}}
                {{> book}}
                {{/each}}
            </ul>
        </div>

        <div class="container grid-container" id="grid2">
            <h3 class="">Authors ({{authors_amount}})</h3>
            <ul class="lib">
                {{#each authors}}
                {{> author}}
                {{/each}}
            </ul>
        </div>

        <div class="container grid-container" id="grid3">
            <h3 class="">Series ({{series_amount}})</h3>
            <ul class="lib">
                {{#each series}}
                {{> series}}
                {{/each}}
            </ul>
        </div>
    </section>

    <footer>
        <div>
            LibraAlchemy {{version}} - last scan {{last_update}}
        </div>
        <div>
            Powered by <a href="https://github.com/Azalurg" target="_blank">Azalurg</a>
        </div>
    </footer>

    <script>
        function showGrid(gridNumber) {
            // Hide all grid containers
            const gridContainers = document.querySelectorAll('.grid-container');
            gridContainers.forEach(container => {
                container.classList.remove('visible');
            });

            // Show the selected grid container
            const selectedGrid = document.getElementById(`grid${gridNumber}`);
            selectedGrid.classList.add('visible');
        }

        function activeButton(buttonNumber) {
            const buttons = document.querySelectorAll('.btn');
            buttons.forEach(button => {
                button.classList.remove('active');
            });

            const selectedButton = document.getElementById(`button${buttonNumber}`);
            selectedButton.classList.add('active');
        }
    </script>
</body>

</html>
