<li class="lib-cell shadow">
    {{#if cover}}
    <img src="{{cover}}" class="lib-img" alt="{{title}}">
    {{else}}
    <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="lib-img" alt="{{title}}">
    {{/if}}
    
    <div class="lib-text lib-tex-first" title="{{title}}">{{title}}</div>
    <div class="lib-text lib-text-second" title="{{author}}">{{author}}</div>
    
</li>
