{{#*inline "content"}}

<section class="card">
    <h1>LibraAlchemy</h1>
    <p>Craft your private audio library with open-source magic. Curate,
        personalize, and transmute your collection offline, powered by alchemy.</p>
    <div class="btn-group">
        <button class="btn active" onclick="showGrid(1); activeButton(1)" id="button1">Books</button>
        <button class="btn" onclick="showGrid(2); activeButton(2)" id="button2">Authors</button>
        <button class="btn" onclick="showGrid(3); activeButton(3)" id="button3">Series</button>
    </div>
</section>

<section style="margin-top: 4rem;">
    <div class="container grid-container visible" id="grid1">
        <h3>Books ({{books_amount}})</h3>
        <ul class="lib">
            {{#each books}}
            <li class="lib-cell shadow">
                {{#if cover}}
                <img src="{{cover}}" class="lib-img" alt="{{title}}" title="{{series}} - {{title}} - {{author}}">
                {{else}}
                <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="lib-img"
                    alt="{{title}}">
                {{/if}}
                {{#if series}}
                <div class="lib-text lib-tex-first" title="{{series}} - {{title}}">{{series}} - {{title}}</div>
                {{else}}
                <div class="lib-text lib-tex-first" title="{{title}}">{{title}}</div>
                {{/if}}
                <div class="lib-text lib-text-second" title="{{author}}">{{author}}</div>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="container grid-container" id="grid2">
        <h3 class="">Authors ({{authors_amount}})</h3>
        <ul class="lib">
            {{#each authors}}
            <li class="lib-cell shadow">
                {{#if cover}}
                <img src="{{cover}}" class="lib-img" alt="{{name}}">
                {{else}}
                <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="lib-img"
                    alt="{{name}}">
                {{/if}}

                <div class="lib-text lib-tex-first" title="{{name}}">{{name}}</div>
            </li>

            {{/each}}
        </ul>
    </div>

    <div class="container grid-container" id="grid3">
        <h3 class="">Series ({{series_amount}})</h3>
        <ul class="lib">
            {{#each series}}
            <li class="lib-cell shadow">
                {{#if cover}}
                <img src="{{cover}}" class="lib-img" alt="{{title}}">
                {{else}}
                <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="lib-img"
                    alt="{{title}}">
                {{/if}}

                <div class="lib-text lib-tex-first" title="{{title}}">{{title}}</div>
                <div class="lib-text lib-text-second" title="{{author}}">{{author}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>

<script>
    function showGrid(gridNumber) {
        // Hide all grid containers
        const gridContainers = document.querySelectorAll('.grid-container');
        gridContainers.forEach(container => {
            container.classList.remove('visible');
        });

        // Show the selected grid container
        const selectedGrid = document.getElementById(`grid${gridNumber}`);
        selectedGrid.classList.add('visible');
    }

    function activeButton(buttonNumber) {
        const buttons = document.querySelectorAll('.btn');
        buttons.forEach(button => {
            button.classList.remove('active');
        });

        const selectedButton = document.getElementById(`button${buttonNumber}`);
        selectedButton.classList.add('active');
    }
</script>

{{/inline}}
{{> components/page}}