<section style="margin-top: 4rem;">
    <div class="container grid-container visible" id="grid1">
        <h3>Books ({{books_amount}})</h3>
        <ul class="lib">
            {{#each books}}
            <a class="lib-cell shadow" href="/books/{{id}}">
                {{#if cover}}
                <img src="/static/{{cover}}" class="lib-img" alt="{{title}}" title="{{series}} - {{title}} - {{author}}">
                {{else}}
                <img src="https://raw.githubusercontent.com/Azalurg/ShadowTube/master/images/128.png" class="lib-img" alt="{{title}}">
                {{/if}}
                {{#if series}}
                <div class="lib-text lib-tex-first" title="{{series}} - {{title}}">{{series}} - {{title}}</div>
                {{else}}
                <div class="lib-text lib-tex-first" title="{{title}}">{{title}}</div>
                {{/if}}
                <div class="lib-text lib-text-second" title="{{author}}">{{author}}</div>
            </a>
            {{/each}}
        </ul>
    </div>
</section>